// :root {
//     --font-family: "Playfair Display", sans-serif;
//     --second-family: "Ubuntu", sans-serif;
// }
$font-family:"Playfair Display", sans-serif;
$second-family: "Ubuntu",sans-serif;
$primary-color: #626262;
$accent-color: #03a9f4;